
<div class="container">
    <form method="post" action="/number" class="form-inline">

    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="name" >
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="password" >

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
